* {
  margin: 0;
  padding: 0;
}

ul {
  margin: auto;
  display: flex;
  list-style: none;
  justify-content: center;
  justify-content: space-around;
  background-color: yellowgreen;
  padding: 10px;
}

h1,
h2 {
  margin-top: 1rem;
  margin-bottom: 15px;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
  padding: 5px;
}

input {
  margin-top: 1rem;
  width: 30vh;
  
}

label {
  position: relative;
  top: 1rem;
}

article{
    display: inline-block;
}


select{
    margin-top: 2rem;
}







