* {
  margin: 0;
  padding: 0;
}

ul {
  margin: auto;
  display: flex;
  list-style: none;
  justify-content: center;
  justify-content: space-around;
  background-color: yellowgreen;
  padding: 10px;
}

h1,
h2 {
  margin-top: 1rem;
  margin-bottom: 15px;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
  padding: 5px;
}

input {
  margin-top: 1rem;
  width: 30vh;
}

label {
  position: relative;
  top: 1rem;
}

article {
  display: inline-block;
}

select {
  margin-top: 2rem;
}

[type="radio"] {
  margin-top: 1px;
}

[type="checkbox"] {
  margin-top: 1px;
}

#h1 {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

p {
  margin-top: 2rem;
}

.container {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background-color: cyan;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

footer {
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translateX(-50%);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: cyan;
  padding: 1rem;
  border-radius: 15px;
}
