* {
  margin: 0;
  padding: 0;
}

ul {
  margin: auto;
  display: flex;
  list-style: none;
  justify-content: center;
  justify-content: space-around;
  background-color: yellowgreen;
  padding: 10px;
}

h1,
h2 {
  margin-top: 1rem;
  margin-bottom: 15px;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

input {
  margin-top: 1rem;
  width: 30vh;
}

label {
  position: relative;
  top: 1rem;
}


article{
  
}

.art2 {
  border-top: 1px solid black;
}
